{% extends "extensions/_extension_base.html" %}

{% block title %}The Betelgeuse Problem{% endblock %}

{% block content %}
<h3>Betelgeuse Problem</h3>
<p>The red-supergiant Betelgeuse is expected to &lsquo;go supernova&rsquo; at any time in the next 10,000 years. When it does, it will appear to be the brightest object in the night sky for a period of a few weeks, and will be visible during the day for six days. It will have the same apparent magnitude as the full moon, but as it is about 642 light years from Earth it will have a much higher luminosity.</p>
<ol>
	<li>Estimate the initial power output from the supernova explosion from the information in the paragraph above and by comparing it to the known data from the Sun.<br>
	(<span>$M_{\odot} = 4.83$ and $L_{\odot} = \quantity{3.83\times 10^{26}}{W}$</span>)</li>
	<p>Betelgeuse is $\quantity{642}{ly}$ from Earth, which is $\quantity{196.9}{pc}$. We can calculate its absolute magnitude, and then compare the power outputs of it and the Sun directly. If it appears to be as bright as the moon, its apparent magnitude will be -19.</p>
	<div class="formula">
		$$m-M=5\log\left(\frac{\quantity{196.9}{pc}}{10}\right)$$
		$$M=-19-5\log\left(\frac{\quantity{196.9}{pc}}{10}\right)=-25.47$$
	</div>
	<p>The difference in luminosity is given by <span>$2.5^{m_{1}-m_{2}}$</span> so:</p>
	<div class="formula">$$2.5^{4.83-\,-25.47}=1.14\times 10^{12}$$</div>
	<p>So Betelgeuse will have a power output <span>$1.14\times 10^{12}$</span> times that of the Sun. As the Sun&rsquo;s output is <span>$\quantity{3.83\times 10^{26}}{W}$</span>, Betelgeuse will be emitting energy at a rate of <span>$\quantity{4.38\times 10^{38}}{W}$</span>.</p>
	<li>Assuming that during the first five days of the the explosion the apparent magnitude remains constant, estimate the total energy released over that period of time and the mass lost from the event.</li>
	<p>This will correspond to:</p>
	<div class="formula">$$\quantity{5}{days} \times \quantity{24}{hours} \times \quantity{60}{minutes} \times \quantity{60}{s} = \quantity{432\,000}{s}$$</div>
	<p>Over this time the supernova will emit:</p>
	<div class="formula">$$\quantity{432\,000}{s}\times\quantity{4.38\times 10^{38}}{W}=\quantity{1.89\times 10^{44}}{J}$$</div>
	<p>Using the equation <span>$E=mc^{2}$</span> we can estimate the amount of mass lost as it is converted into energy as:</p>
	<div class="formula">
		\begin{align}
		m&=\frac{E}{c^{2}}\\
		m&=\frac{\quantity{1.89\times 10^{44}}{J}}{\left(\quantity{3.00\times 10^{8}}{m\,s^{-1}}\right)^{2}}\\
		\\
		m&=\quantity{2.10\times 10^{27}}{kg}
		\end{align}
	</div>
</ol>
{% endblock %}
